@font-face {
    font-family: "Khaenri'ah";
    src: url("../polices/KhaenriahNeue-Regular.otf");
    format("opentype");
}

html, body {
    height: 90%;
}

html {
    font-family: Verdana, sans-serif, "Khaenri'ah";
    color: white;
    display: table;
    margin: auto;
    background: url(../images/background_image.png) no-repeat center center fixed;
    background-size: cover;
}

body {
    background-color: rgba(231, 206, 180, 0.7);
    width: 80%;
    display: table-cell;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

h1 {
    color: #3a8000;
}

p, a {
    font-size: 20px;
}

a {
    color: #7e6116;
    transition-duration: 0.5s;
}

a:hover {
    color: #00a400;
}

button {
    border: none;
    color: #4d3000;
    background-color: #ce7f08;
    padding: 15px 32px;
    display: table-cell;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    font-size: 32px;
}